@{
    ViewBag.Title = "About";
}



<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <a href="~/Content/Images/BM.jpg">
                <img src="~/Content/Images/BM.jpg" class="card-img-top" alt="Breadmakers" />
            </a>
            <div class="card-body">
                <h5 class="card-title">A Society Is Born</h5>
                <p class="card-text">
                    A noble society, formed in 2002 AD, as an off-shoot of the Whitbread Golf Tour,
                    to enable the art of bread making to be discussed on an ongoing basis, whilst enjoying
                    regular golf events. Since its inception, a number of golf days have been held at
                    which members provide home-made refreshment (normally sandwiches) to be partaken
                    during the round. 
                </p>

                <a href="@Url.Action("Brethren", "Home")" class="btn btn-primary">Brethren</a>
            </div>
        </div>
        <br />
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/Images/logo.gif" class="card-img-top" alt="Membership" />
            <div class="card-body">
                <h5 class="card-title">Membership</h5>
                <p class="card-text">
                    Membership of the society is keenly sought after and not available to all.
                    Many are called but few are chosen.
                </p>
               
                <a href="@Url.Action("Membership", "Home")" class="btn btn-primary">Membership</a>
            </div>
        </div>
        <br />
    </div>

  
</div>