
@{
    ViewBag.Title = "Brethren";
}



<div class="container">
    <h2>Brethren</h2>
    <div class="row">

        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">

                <img src="~/Content/Images/Mugs/shanks.jpg" class="card-img-top" alt="Shanks" />
                <div class="card-body">
                    <h5 class="card-title">Shanks</h5>
                    <p class="card-text">
                        Not a golf shot but a convenience
                    </p>

                </div>
            </div>
            <br />
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">
                <img src="~/Content/Images/Mugs/snorks.jpg" class="card-img-top" alt="Snorks" />

                <div class="card-body">
                    <h5 class="card-title">Snorks</h5>
                    <p class="card-text">
                        Soutpiel with a good length
                    </p>

                </div>
            </div>
            <br />
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">
                <img src="~/Content/Images/Mugs/smithy.jpg" class="card-img-top" alt="Smithy" />
                <div class="card-body">
                    <h5 class="card-title">Smithy</h5>
                    <p class="card-text">
                        Where Kronenbourg meets Kebab
                    </p>

                </div>
            </div>
            <br />
        </div>

        


        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">
                <img src="~/Content/Images/Mugs/bryan.jpg" class="card-img-top" alt="Bryan" />
                <div class="card-body">
                    <h5 class="card-title">Bryan</h5>
                    <p class="card-text">
                        The Model, the Rockhopper, the Ferry
                    </p>

                </div>
            </div>
            <br />
        </div>

        

        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">
                <img src="~/Content/Images/Mugs/diesel.jpg" class="card-img-top" alt="Shanks" />

                <div class="card-body">
                    <h5 class="card-title">Diesel</h5>
                    <p class="card-text">
                        Trucks, boats and anything else that smokes
                    </p>

                </div>
            </div>
            <br />
        </div>
        

        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 12rem;">
                <img src="~/Content/Images/Mugs/sprinks.jpg" class="card-img-top" alt="Sprinks" />

                <div class="card-body">
                    <h5 class="card-title">Sprinks</h5>
                    <p class="card-text">
                        Sprinkler, Scribe and Archivist. Cavete Dexter!
                    </p>

                </div>
            </div>
            <br />
        </div>
        
    </div>
</div>
