@{
    ViewBag.Title = "Events";
}



<div class="row">

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/Images/breadboard.jpg" class="card-img-top" alt="Breadboard" />
            <div class="card-body">
                <h5 class="card-title">The Breadboard</h5>
                <p class="card-text">
                    Typically on these occasions, pairs play a for the match play
                    trophy (a breadboard), upon which the victors' initials are lovingly inscribed
                    with the aid of a soldering iron in the agile hands of our engraver, Shanks.
                </p>

                <a href="#" class="btn btn-primary">Goto Events</a>
            </div>
        </div>
        <br />
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">

            <img src="~/Content/Images/batwaii.jpg" class="card-img-top" alt="Batwaiii">
            <div class="card-body">
                <h5 class="card-title">The BATWAIII</h5>
                <p class="card-text">
                    The Society embarks upon an annual tour, utilising accommodation owned by
                    members and their relatives. On these occasions, we play an individual
                    stableford competition over three courses for the "Bin Around the World
                    (and I I I)" trophy, or BATWAIII.
                </p>
                <a href="#" class="btn btn-primary">Goto Events</a>
            </div>
        </div>
        <br />
    </div>
</div>