@{
    ViewBag.Title = "Breadmakers Home";
}

<div class="container">
    <img src="~/Content/Images/penha.jpg" class="img-fluid rounded"/>

    <br />

    <div class="row">
        <div class="col-md-6">
            <h2>Breaking Bread on the Course</h2>
            <p>
                Explore the world of the Breadmakers Golf Society, their origins, traditions and values.
            </p>
            <p>
                <a href="@Url.Action("About", "Home")" class="btn btn-primary">About</a>
            </p>
           
        </div>

        <div class="col-md-6">
            <h2>Events and Scores</h2>
            <p>
                Dig into the archives for dates, venues, scores and winners with a few
                photos thrown in.
            </p>
            <p>
                <a href="@Url.Action("Events", "Home")" class="btn btn-primary">Events</a>
            </p>
        </div>

    </div>

</div>
