
@{
    ViewBag.Title = "Membership";
}





<div class="container">
    <h2>Membership</h2>
    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Invitation</h5>
                    <p class="card-text">
                        Membership is by Invitation only. You may be honoured enough to receive and invitation such as this.
                    </p>
                </div>
                <img src="~/Content/Images/Membership/application_invite.jpg" alt="Invite" />

            </div>
            <br />
        </div>



        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Application</h5>
                    <p class="card-text">
                        A deferential response is called for, including compelling reasons for acceptance.
                    </p>
                </div>
                <img src="~/Content/Images/Membership/application_request.jpg" alt="Application" />

            </div>
            <br />
        </div>



        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Not Valid</h5>
                    <p class="card-text">
                        This is an example of an application that has no chance of success. And never will do.
                    </p>
                </div>
                <img src="~/Content/Images/Membership/rent_boy.jpg" alt="Rent Boy" />
                
            </div>
            <br />
        </div>



        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Validation and Affirmation</h5>
                    <p class="card-text">
                        "You cannot breach your constitution and even consider Graham Smith,
                        especially as he won a book on bread making on tour" - Nick Metcalfe, Associate Member (pending)
                    </p>
                </div>

                <img src="~/Content/Images/Mugs/metcalfe.jpg"  alt="Nick Metcalfe"/>
            </div>
            <br />
        </div>


    </div>
</div>