
@{
    ViewBag.Title = "Membership";
}





<div class="container">
    <h2>Membership</h2>
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Invitation</h5>
                    <p class="card-text">
                        Membership is by Invitation only. You may be honoured enough to receive and invitation such as this.
                    </p>
                </div>
                <img src="~/Content/Images/Membership/application_invite.jpg" alt="Invite" />

            </div>
            <br />
        </div>



        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Application</h5>
                    <p class="card-text">
                        A deferential response is called for, including compelling reasons for acceptance.
                    </p>
                </div>
                <img src="~/Content/Images/Membership/application_request.jpg" alt="Application" />

            </div>
            <br />
        </div>



        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Not Valid</h5>
                    <p class="card-text">
                        This is an example of an application that has no chance of success. And never will do.
                    </p>
                </div>
                <a href="~/Content/Images/Membership/rent_boy.jpg"><img class="img-fluid" src="~/Content/Images/Membership/rent_boy.jpg" alt="Rent Boy" /></a>

            </div>
            <br />
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Associate Members</h5>
                    <p class="card-text">
                        On extraordinary occasions, an invitation to apply for Associate Membership may
                        be extended.
                    </p>
                    <p>
                        Invitation to John Heath, Hon. Secretary, Golf Club D’Hulencourt
                    </p>
                    <a href="~/Content/Images/Membership/Hulencourt.pdf"><img src="~/Content/Images/invite.png" /></a>
                </div>
            </div>
            <br />
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Levels of Progression - The Barnet Rite</h5>
                    <p class="card-text">
                        The rise must be proved
                    </p>
                </div>

                <img src="~/Content/Images/Membership/bakerslevels.jpg" />
            </div>
            <br />
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Levels of Progression - Diesel Passes Out</h5>
                    <p class="card-text">
                        A proud father admires his chilli bread, proving that he has served and completed his apprenticeship.
                    </p>
                </div>
                <a href="~/Content/Images/Membership/chilli_bread.jpg"><img class="img-fluid" src="~/Content/Images/Membership/chilli_bread.jpg" /></a>
            </div>
            <br />
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Articles of Association</h5>
                    <p class="card-text">
                        A sacred text embodying our fundamental principles.
                    </p>
                </div>
                <img src="~/Content/Images/Membership/rules.jpg" />

            </div>
            <br />
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Validation and Affirmation</h5>
                    <p class="card-text">
                        "You cannot breach your constitution and even consider Graham Smith,
                        especially as he won a book on bread making on tour" - Nick Metcalfe, Associate Member (pending)
                    </p>
                </div>

                <img src="~/Content/Images/Mugs/metcalfe.jpg" alt="Nick Metcalfe" />
            </div>
            <br />
        </div>



        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Code of Conduct</h5>
                    <p class="card-text">
                        Shanks reviews the rules for the upcoming competition to ensure they are complex and beyond understanding
                    </p>
                </div>
                <img src="~/Content/Images/Membership/shanks_rules.jpg" />

            </div>
            <br />
        </div>

    </div>
</div>